<header class="root-header clearfix">
  <div class="header-nav clearfix">
    <a class="home-link" href="#">Home</a>
    <a class="add-picture-link" href="#">Upload</a>
    <a class="logo-link" href="#">SelFeed</a>
    <a class="user-link" href="#"><%= current_user.username %></a>
    <a class="log-out-link" href="#">Log out</a>
  </div>
</header>

<script src='http://feather.aviary.com/js/feather.js'></script>
<script src='//api.filepicker.io/v1/filepicker.js'></script>
