<div class="user-header-collage">
  <ul class="user-header-collage-pictures"></ul>
</div>
<div class="user-header-details">
  <div class="user-header-avatar-container">
    <img class="user-header-avatar" src="<%= user.escape("avatar_url") %>">
    <% if (user.id === currentUserId) { %>
      <a href="#" class="submit-button" id="edit-user">Edit profile</a>
    <% } else { %>
      <a href="#" class="submit-button" id="follow-user"></a>
    <% } %>
  </div>
  <div class="user-header-user-details-container">
    <p class="user-header-username"><%= user.escape("username") %></p>
    <span class="user-header-display-name"><%= user.escape("display_name") %></span>
    <span class="user-header-bio"><%= user.escape("bio") %></span>
  </div>
</div>
