<div class="user-header-collage">
  <ul class="user-header-collage-pictures"></ul>
</div>
<div class="user-header-details">
  <div class="user-header-avatar-container">
    <img class="user-header-avatar">
    <a href="#" class="submit-button" id="follow-user"></a>
  </div>
  <a href="#" class="user-header-username"><%= user.escape("username") %></a>
</div>
