<div class="user-header-collage"></div>
<div class="user-header-details">
  <a href="#" class="user-header-username"><%= user.escape("username") %></a>
  <a href="#" class="submit-button" id="follow-user"></a>
</div>
