<div class="user-header-collage">
  <div class="user-header-collage-pictures"></div>
</div>
<div class="user-header-details">
  <div class="user-header-avatar-container">
    <img class="user-header-avatar">
    <a href="#" class="submit-button" id="follow-user"></a>
  </div>
  <span class="user-header-username"><%= user.escape("username") %></span>
</div>
