<div class="modal-screen"></div>

<div class="modal-form">
  <form>
    <div class="cloudinary-widget">
      Cloudinary widget goes here
    </div>
    <button class="submit-button" id="crop-picture">Crop picture</button>

    <div class="modal-form-links clearfix">
      <a class="submit-button" id="cancel-picture">Cancel</a>
      <a class="submit-button" id="save-picture" data-disabled="true">Save avatar</a>
    </div>
  </form>
</div>
