<div class="modal-screen"></div>

<div class="modal-form">
  <form>

    <div class="cloudinary-widget">
      Cloudinary widget goes here
    </div>

    <div class="input-field">
      <textarea name="picture[caption]">Write a caption...</textarea>
    </div>

    <input class="submit-button" id="save-picture" type="submit" value="Save to feed">
  </form>
</div>
