<ul class="filters-list">
  <li class="picture-filter-icon" id="none">None</li>
  <li class="picture-filter-icon" id="x-pro-2">X-Pro 2</li>
  <li class="picture-filter-icon" id="willow">Willow</li>
  <li class="picture-filter-icon" id="walden">Walden</li>
  <li class="picture-filter-icon" id="valencia">Valencia</li>
  <li class="picture-filter-icon" id="toaster">Toaster</li>
  <li class="picture-filter-icon" id="sutro">Sutro</li>
  <li class="picture-filter-icon" id="sierra">Sierra</li>
  <li class="picture-filter-icon" id="rise">Rise</li>
  <li class="picture-filter-icon" id="nashville">Nashville</li>
  <li class="picture-filter-icon" id="mayfair">Mayfair</li>
  <li class="picture-filter-icon" id="lo-fi">Lo-Fi</li>
  <li class="picture-filter-icon" id="kelvin">Kelvin</li>
  <li class="picture-filter-icon" id="inkwell">Inkwell</li>
  <li class="picture-filter-icon" id="hudson">Hudson</li>
  <li class="picture-filter-icon" id="hefe">Hefe</li>
  <li class="picture-filter-icon" id="earlybird">Earlybird</li>
  <li class="picture-filter-icon" id="brannan">Brannan</li>
  <li class="picture-filter-icon" id="amaro">Amaro</li>
  <li class="picture-filter-icon" id="retro">Retro</li>
</ul>
