<div class="modal-screen"></div>

<div class="modal-form">
  <form>
    <div class="filepicker-widget">
      <button class="submit-button">Choose a picture</button>
      <input
        class="filepicker-url-input"
        type="hidden"
        name="picture[filepicker-url]">
    </div>

    <div class="input-field">
      <textarea name="picture[caption]">Write a caption...</textarea>
    </div>

    <input class="submit-button" type="submit" value="Save to feed">
  </form>
</div>
