<div class="modal-screen"></div>

<div class="modal-form">
  <form>
    <div class="filepicker-widget">Filepicker button goes here</div>

    <div class="input-field">
      <textarea name="picture[caption]">Write a caption...</textarea>
    </div>

    <input class="submit-button" type="submit" value="Save to feed">
  </form>
</div>
