

<img class="picture-show-picture" src="<%= picture.escape("url") %>">
<div class="picture-like-container">
  <3 so many likes
</div>
<div class="picture-caption-container">
  <p>
    <%= picture.escape("caption") %>
  </p>
</div>
<div class="picture-comments-container">
  <ul class="picture-comments-list">
    <li>awesome!</li>
    <li>lmao roflcopter</li>
    <li>best pic ever</li>
  </ul>
</div>
