<div class="modal-screen"></div>

<div class="modal-form">
  <form>
    <div class="cloudinary-widget">
      Cloudinary widget goes here
    </div>
    <button class="submit-button" id="crop-picture">Crop picture</button>

    <div class="input-field">
      <textarea name="picture[caption]">Write a caption...</textarea>
    </div>

    <div class="modal-form-links clearfix">
      <a class="submit-button" id="cancel-picture">Cancel</a>
      <a class="submit-button" id="save-picture">Save to feed</a>
    </div>
  </form>
</div>
