<ul class="filters-list">
  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="none"></div>
    <span class="filter-name">None</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="market"></div>
    <span class="filter-name">Market</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="revere"></div>
    <span class="filter-name">Revere</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="folsom"></div>
    <span class="filter-name">Folsom</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="laguna"></div>
    <span class="filter-name">Laguna</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="sunburn"></div>
    <span class="filter-name">Sunburn</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="grove"></div>
    <span class="filter-name">Grove</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="union"></div>
    <span class="filter-name">Union</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="chestnut"></div>
    <span class="filter-name">Chestnut</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="webster"></div>
    <span class="filter-name">Webster</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="baker"></div>
    <span class="filter-name">Baker</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="presidio"></div>
    <span class="filter-name">Presidio</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="balboa"></div>
    <span class="filter-name">Balboa</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="fulton"></div>
    <span class="filter-name">Fulton</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="fillmore"></div>
    <span class="filter-name">Fillmore</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="mission"></div>
    <span class="filter-name">Mission</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="california"></div>
    <span class="filter-name">California</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="clement"></div>
    <span class="filter-name">Clement</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="lombard"></div>
    <span class="filter-name">Lombard</span>
  </li>

  <li class="picture-filter-icon-container">
    <div class="picture-filter-icon" data-filter="sutter"></div>
    <span class="filter-name">Sutter</span>
  </li>

</ul>
