<ul class="filters-list">
  <li class="picture-filter-icon" data-filter="none">None</li>
  <li class="picture-filter-icon" data-filter="x-pro-2">X-Pro 2</li>
  <li class="picture-filter-icon" data-filter="willow">Willow</li>
  <li class="picture-filter-icon" data-filter="walden">Walden</li>
  <li class="picture-filter-icon" data-filter="valencia">Valencia</li>
  <li class="picture-filter-icon" data-filter="toaster">Toaster</li>
  <li class="picture-filter-icon" data-filter="sutro">Sutro</li>
  <li class="picture-filter-icon" data-filter="sierra">Sierra</li>
  <li class="picture-filter-icon" data-filter="rise">Rise</li>
  <li class="picture-filter-icon" data-filter="nashville">Nashville</li>
  <li class="picture-filter-icon" data-filter="mayfair">Mayfair</li>
  <li class="picture-filter-icon" data-filter="lo-fi">Lo-Fi</li>
  <li class="picture-filter-icon" data-filter="kelvin">Kelvin</li>
  <li class="picture-filter-icon" data-filter="inkwell">Inkwell</li>
  <li class="picture-filter-icon" data-filter="hudson">Hudson</li>
  <li class="picture-filter-icon" data-filter="hefe">Hefe</li>
  <li class="picture-filter-icon" data-filter="earlybird">Earlybird</li>
  <li class="picture-filter-icon" data-filter="brannan">Brannan</li>
  <li class="picture-filter-icon" data-filter="amaro">Amaro</li>
  <li class="picture-filter-icon" data-filter="retro">Retro</li>
</ul>
