<h1 class="new-user-page-header">Sign up for SelFeed</h1>

<div class="user-form">
  <header class="user-form-header">SelFeed</header>

  <%= render "form", user: @user %>
</div>

<div class="user-redirect">
  <span>Already have an account?</span>
  <a href="/session/new">Click here to sign in.</a>
</div>
