// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-comments-container {
  padding: 0 10px;
}

.picture-comments-list {
  width: 100%;
  max-height: 160px;
  overflow: auto;
}

.picture-comment-show-view {
  position: relative;
  display: block;
  clear: both;
  color: #333;
  margin: 15px auto;
  padding-left: 40px;
}

.comment-show-avatar {
  position: absolute;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #ddd;
  left: 2px;
  top: -4px;
}

.comment-details-created-at {
  float: right;
  font-size: 10px;
}

.comments-form {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.comments-form input {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
}

input:focus {
  color: #333;
}
