// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-comments-container {
  padding: 0 20px;
}

.picture-comment-show-view {
  display: block;
  clear: both;
  color: #333;
  margin: 10px auto;
}

.comment-details-created-at {
  float: right;
  font-size: 10px;
}

.comments-form {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.comments-form input {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
}

input:focus {
  color: #333;
}
