.flash-errors-list {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.error-type {
  font-family: "Raleway";
  font-weight: 500;
}

.error-description {
  font-family: "Raleway";
  font-weight: 300;
}

.form-page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f9fc;
}

.user-form {
  width: 400px;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 100px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

.user-form-header {
  font-family: 'Pacifico';
  font-size: 24px;
  text-align: center;
  background-image: -webkit-linear-gradient(top,#517fa4,#306088);
  color: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.input-field {
  position: relative;
  display: block;
  margin: 30px;
  height: auto;
}

.input-field input {
  position: absolute;
  right: 0;
  width: 65%;
  top: 50%;
  transform: translateY(-50%);
}

.input-field textarea {
  resize: none;
  margin-left: 35%;
  margin-bottom: 0px;
  width: 215px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}

.input-field label {
  position: absolute;
  float: left;
  padding: 10px 0;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.submit-button {
  font-family: "Montserrat";
  display: block;
  border: 1px solid #3d8b5f;
  background-image: -webkit-linear-gradient(top,#6bb38a,#3d8b5f);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px auto;
}

.submit-button:hover {
  cursor: pointer;
}

.user-redirect {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.user-redirect a {
  display: block;
  margin-top: 10px;
  font-family: "Raleway";
  font-weight: 500;
}

.new-user-page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-family: "Montserrat";
  top: 30px;
  color: #333;
}
