.form-page-container {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

.user-form {
  width: 400px;
  border: 1px solid #ccc;
  margin: auto;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

.user-form-header {
  font-family: 'Rochester';
  font-size: 24px;
  text-align: center;
  background-color: #517fa4;
  color: #fff;
}

.input-field {
  position: relative;
  display: block;
  margin: 30px;
}

.input-field input {
  position: absolute;
  right: 0;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 65%;
  top: 50%;
  transform: translateY(-50%);
}

.input-field label {
  position: absolute;
  float: left;
  padding: 10px 0;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.submit-button {
  display: block;
  border: 1px solid #3d8b5f;
  background-image: -webkit-linear-gradient(top,#6bb38a,#3d8b5f);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px auto;
}
