.root-header {
  position: fixed;
  background-image: -webkit-linear-gradient(top,#517fa4,#306088);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
  z-index: 3;
  box-sizing: border-box;
}

.root-header-nav {
  max-width: 1000px;
  margin: auto;
  color: #fff;
}

.logo-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Rochester";
  font-size: 24px;
  color: #eee;
  text-shadow: 0 0 5px #333;
}

.home-link,
  .add-picture-link {
  display: block;
  float: left;
  font-size: 32px;
  width: 50px;
  height: 49px;
  text-align: center;
  padding-top: 5px;
  border-left: 1px solid #5f8cb0;
}

.home-link {
  margin-left: 1px;
}

.add-picture-link {
  border-right: 1px solid #5f8cb0;
}

.user-link {
  float: right;
}

.log-out-link {
  float: right;
}
