// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-likes-container,
  .picture-show-likes-container {
  position: relative;
  display: block;
  top: -5px;
  height: 40px;
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  border-bottom: 1px solid #ddd;
}

.picture-likes-button {
  display: block;
  float: left;
  text-align: center;
  font-size: 24px;
  padding-top: 6px;
  width: 50px;
  height: 40px;
  border-right: 1px solid #ddd;
  color: #bbb;
  transition: all 250ms;

}

.picture-likes-button:hover {
  cursor: pointer;
  color: #dd7070;
  transition: all 250ms;
}

.picture-likes-button.liked {
  color: #d14141;
  transition: all 250ms;
}

.picture-likes-count {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  color: #777;
  transform: translateY(-50%);
}
