.picture-form-modal {
  position: relative;
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-form,
  .modal-picture-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 10px 1px #000;
  z-index: 4;
}

textarea.caption-input {
  display: block;
  position: relative;
  resize: none;
  width: 400px;
  height: 60px;
  margin: auto;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cloudinary-widget {
  position: relative;
  height: 400px;
  width: 400px;
  border: 3px dashed #ccc;
  border-radius: 5px;
  margin: 30px;
  overflow: hidden;
}

.picture-preview {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.cloudinary_fileupload.enable-upload:after {
  position: absolute;
  content: "Choose a picture";
  display: block;
  border: 1px solid #234562 ;
  background-image: -webkit-linear-gradient(top,#517fa4,#306088);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat"
}

#upload-progress-tracker {
  color: #306088;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  font-size: 120px;
  text-shadow: 0 0 10px #333;
}

.cloudinary_fileupload:hover:after {
  cursor: pointer;
}

.cloudinary_fileupload:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

#crop-picture {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: 350px;
  background: -webkit-linear-gradient(top, #eee, #ccc);
  color: #000;
  border: 1px solid #aaa;
  z-index: 1000;
}

#crop-picture:hover {
  cursor: pointer;
}

.modal-form-links {
  position: relative;
  width: 300px;
  margin: auto;
  margin-top: -30px;
}


#cancel-picture {
  float: left;
  top: 0;
  background: -webkit-linear-gradient(top, #eee, #ccc);
  border: 1px solid #aaa;
  color: #000;
}

#cancel-picture:hover,
  #save-picture:hover {
  cursor: pointer;
}

#cancel-picture:active {
  background: -webkit-linear-gradient(top, #ccc, #ccc);
}

#save-picture {
  float: right;
  top: 0;
}

#save-picture:active {
  background-image: -webkit-linear-gradient(top,#3d8b5f,#3d8b5f);
}

[data-disabled~="true"] {
  background: none;
  background-color: #ccc;
  border: 1px solid #aaa;
  color: #eee;
}

#save-picture[data-disabled~="true"]:hover,
  #save-picture[data-disabled~="true"]:hover {
  cursor: default;
}

#save-picture[data-disabled~="true"]:active{
  background: none;
  background-color: #ccc;
  border: 1px solid #aaa;
  color: #eee;
}

#save-progress-tracker {
  color: #517fa4;
  position: absolute;
  right: -32px;
  top: 22px;
  font-size: 24px;
}
