.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.modal-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(25px);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #517fa4;
  z-index: 3;
}

.input-field textarea {
  display: block;
  position: relative;
  width: 350px;
  height: 100px;
  margin: auto;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cloudinary-widget {
  position: relative;
  height: 350px;
  width: 350px;
  border: 3px dashed #ccc;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}

.picture-preview {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.cloudinary_fileupload:after {
  position: absolute;
  content: "Choose a picture";
  display: block;
  border: 1px solid #3d8b5f;
  background-image: -webkit-linear-gradient(top,#6bb38a,#3d8b5f);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.cloudinary_fileupload:hover:after {
  cursor: pointer;
}

.cloudinary_fileupload:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
