.pictures-feed {
  position: relative;
  height: 100%;
  top: 0;
}

.pictures-list {
  display: block;
  background-color: #eee;
  margin: auto;
  width: 580px;
  height: 100%;
  padding-top: 40px;
  border: 1px solid #bbb;
  border-top: none;
}

.picture-show-container {
  width: 500px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.picture-show-picture {
}
