.pictures-feed {
  position: relative;
  height: 100%;
  top: 0;
}

.pictures-list {
  display: block;
  background-color: #eee;
  margin: auto;
  width: 580px;
  height: 100%;
  padding-top: 40px;
  border: 1px solid #ccc;
  border-top: none;
}

.picture-show-container {
  position: relative;
  width: 500px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

.picture-details-container {
  position: absolute;
  right: calc(100% + 50px);
}

.author-link {
  float: right;
  color: #517fa4;
}
.picture-details-author-link:hover {
  text-decoration: underline;
}

.picture-details-created-at {
  float: right;
  white-space: nowrap;
  color: #aaa;
}

.picture-show-picture {
}

.picture-caption-container {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.caption-author-link,
  .comment-author-link {
  float: none;
}
