.pictures-feed {
  position: relative;
  height: 100%;
  top: 0;
}

.pictures-list {
  display: block;
  background-color: #eee;
  margin: auto;
  width: 580px;
  height: 100%;
  padding-top: 40px;
  border: 1px solid #ccc;
  border-top: none;
}

.picture-show-container {
  position: relative;
  width: 500px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

.picture-details-container {
  position: absolute;
  right: calc(100% + 50px);
}

.author-link {
  float: right;
  color: #517fa4;
}
.picture-details-author-link:hover {
  text-decoration: underline;
}

.picture-details-created-at {
  float: right;
  white-space: nowrap;
  color: #aaa;
}

.picture-show-picture {
}

.picture-likes-container {
  position: relative;
  display: block;
  top: -5px;
  height: 40px;
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  border-bottom: 1px solid #ddd;
}

.picture-likes-button {
  display: inline-block;
  background-image: url("heart_sprite.png");
  background-size: 40px 80px;
  background-position: -1px 0;
  font-size: 72px;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-right: 1px solid #ddd;
}

.picture-likes-button:hover,
  .liked {
  cursor: pointer;
  background-position: -1px 40px
}

.picture-likes-count {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  color: #777;
  transform: translateY(-50%);
}

.picture-caption-container {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#caption-author-link {
  float: none;
}
