p.text {
  display: inline;
  font-family: "Raleway";
  font-weight: 500;
  word-wrap: break-word;
}

.pictures-feed {
  position: relative;
  height: 100%;
  top: 0;
  background-color: #eee;
}

.pictures-list {
  display: block;
  background-color: #ddd;
  margin: auto;
  width: 580px;
  height: 100%;
  padding-top: 40px;
  border: 2px solid #cacaca;
  border-top: none;
}

.pictures-feed-item-container {
  position: relative;
  width: 500px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 10px 1px #ccc;
}

.picture-details-container {
  position: absolute;
  min-width: 300px;
  right: 550px;
}

.picture-show-avatar {
  max-height: 40px;
  max-width: 40px;
  margin-left: 10px;
  float: right;
  border: 1px solid #ddd;
}

.picture-author-details-container {
  float: right;
}

.author-link {
  float: right;
  color: #517fa4;
}
.author-link:hover {
  text-decoration: underline;
}

.picture-show-created-at {
  float: right;
  white-space: nowrap;
  color: #aaa;
}

.picture-show-picture {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.picture-caption-container {
  position: relative;
  margin-top: -5px;
  padding: 15px 20px;
  padding-left: 50px;
  border-bottom: 1px solid #ddd;
}

.picture-caption-avatar {
  position: absolute;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #ddd;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.caption-author-link,
  .comment-author-link {
  float: none;
}
