.pictures-grid-container {
  display: block;
  position: relative;
  width: 1000px;
  margin: auto;
  top: -16px;
  background-color: #eee;
}

.pictures-grid-view {
  display: block;
  position: relative;
}

.pictures-grid-list {
  display: block;
  position: relative;
}

.pictures-grid-item-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 260px;
  box-sizing: border-box;
}

.pictures-grid-item-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
}

.grid-item-picture-details {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 170px;
  width: 170px;
  background-color: #fff;
  font-size: 12px;
  color: #fff;
  box-shadow: 0 0 10px 1px #ccc;
  transition: width 75ms linear,
    height 75ms linear,
    color 100ms 100ms linear;
}

.hover-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 220px;
  width: 180px;
  transition: width 75ms linear,
    height 75ms linear,
    color 100ms 100ms linear;
  color: #aaa;
}

.picture-details-created-at {
  color: inherit;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.picture-details-likes-comments {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
