.tutorial-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 0;
}

.map-canvas-container > .tutorial-container {
  z-index: 1;
}

.pictures-feed-tutorial-view {
  position: relative;
  box-sizing: border-box;
  font-size: 36px;
  color: #f6f9fc;
  background-color: #517fa4;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 4px solid #f6f9fc;
  box-shadow: 0 0 10px 1px #aaa;
  transition: all 250ms;
}

.pictures-feed-tutorial-view:hover {
  cursor: pointer;
  background-color: #306088;
  transition: all 250ms;
}

.pictures-feed-tutorial-view > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shepherd-step {
  width: 330px;
  text-align: center;
  z-index: 1;
}

.shepherd-text > p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px !important;
}

.shepherd-step-infinite-scroll {
  position: fixed !important;
  right: 80px !important;
  bottom: 20px !important;
  transform: none !important;
}

.shepherd-step.shepherd-step-hidden {
  z-index: 0 !important;
}
