<li class="root-header-nav-link" id="home-container"><i class="fa fa-home"></i></li>
<li class="root-header-nav-link" id="add-picture-container"><i class="fa fa-camera-retro"></i></li>
<li class="root-header-nav-link" id="explore-container"><i class="fa fa-globe"></i></li>

<li class="logo-container"><a class="logo-link" href="#">SelFeed</a></li>
<li class="user-container">
  <div class="header-user-details-container">
    <img class="header-avatar" src="<%= user.escape("avatar_url") %>">
    <span class="header-username"><%= user.escape("username") %></span>
  </div>
  <ul class="user-options-list">
    <li><a class="user-link">View profile</a></li>
    <li><a class="edit-user-link">Edit profile</a></li>
    <li><a class="edit-avatar-link">Edit avatar</a></li>
    <li><a class="log-out-link">Log out</a></li>
  </ul>
</li>

<div class="picture-form-modal"></div>
