<li class="home-container"><a class="home-link" href="#"><i class="fa fa-home"></i></a></li>
<li class="add-picture-container"><a class="add-picture-link" href="#"><i class="fa fa-camera-retro"></i></a></li>
<li class="logo-container"><a class="logo-link" href="#">SelFeed</a></li>
<li class="user-container"><a class="user-link" href="#"><%= username %></a>
  <ul class="user-options-list">
    <li><a class="edit-user-link">Edit profile</a></li>
    <li><a class="log-out-link">Log out</a></li>
  </ul>
</li>

<div class="picture-form-modal"></div>
