<a class="home-link" href="#">Home</a>
<a class="add-picture-link" href="#">Upload</a>
<a class="logo-link" href="#">SelFeed</a>
<a class="user-link" href="#"><%= username %></a>
<a class="log-out-link" href="#">Log out</a>

<div class="picture-form-modal"></div>
