<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico|Montserrat:400,700' rel='stylesheet' type='text/css'>  <title>SelFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='http://feather.aviary.com/js/feather.js'></script>
  <script src='http://api.filepicker.io/v1/filepicker.js'></script>
</head>
<body>

<div id="main">
  <%= yield %>
</div>

</body>
</html>
